html,
body {
        height: 100%;
        width: 100vw;
        font-family: "Playfair Display", Arial, sans-serif !important;
        margin: 0;
        padding: 0;
}

body {
        max-width: 100vw;
        max-height: 100vh;
        background-color: #D5D5D5 !important;
}

#header {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E27222;
        color: white;
}

#footer {
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EA8E4D;
        color: white;
}

h1,
h2,
h3 {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 2vw;
}

#footer b {
        font-size: 1vw;
}

#main {
        min-height: 85vh;
        height: 85vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
}

#chart {
        height: 90%;
        width: 90%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
        flex-wrap: wrap;
}

.tooltip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0.5%;
        background-color: white;
        pointer-events: none;
        background-color: grey;
        color: white;
}

svg {
        align-self: flex-start;
}

.tooltip {
        position: absolute;
        width: auto;
        height: auto;
        padding: 0.5%;
        background-color: black;
        pointer-events: none;
        color: white;
}
